*{ 	margin:0;
	padding:0;
}
body	{
	background:#00FF00;
	}

header, .main, .foooter{
	whidth:90%
	max width:1000px;
	margin:20px auto;
}

header nav{
	background:#528fd5;
	overflow:hidden;
}

header nav ul{
	list.style:none;
}

header nav ul li{
	float:left
}

header nav ul li a{
	padding:10px 20px;
	display:black;
	color:#fff;
	text:decoration.none;
}

header nav ul li a:hover{
	background: #75aced;	
}

.main .articles{
	width:68.5%;
	margin-rigth:1.5%;
	float:left;
	background.#fff;
}

.main .articles articles{
	padding:20px;
	background:light blue
	margin.botton:20px
}

aside {
	width:30%;
	background:yellow;
	float:left;
	padding:20px;
	box-sizing:border-box;
}

footer{
	background:orange;
	color:#fff;
	clear:both;
	padding:10px 0px;
	text-align:center;
}